<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>비밀번호 변경</h4>
        </div>
    </div>
    <form th:action="@{/user/changepassword}" th:object="${changePasswordForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="password" class="form-label">기존(임시) 비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="newpassword1" class="form-label">변경할 비밀번호</label>
            <input type="password" th:field="*{newpassword1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="newpassword2" class="form-label">변경할 비밀번호 확인</label>
            <input type="password" th:field="*{newpassword2}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">변경하기</button>
    </form>
</div>

</body>
</html>