<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <h5 class="post-form py-3">비밀번호를 잊으셨나요?</h5>
    <form th:action="@{/user/sendEmail}" method="post" name="email" class="post-form py-3">
        <input type="hidden" name="csrfmiddlewaretoken" value="23WsdOoZIOlJYJhuOfem7wpiwSkZHInEHnIGDoMhi4ueIxnESdwpVztdnXNr1Our">
        <div class="form-group">
            <label for="email">회원가입시 등록했던 이메일 주소를 입력하세요.</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="my-3">
            <a href="/user/login">로그인으로 돌아가기</a>
        </div>
        <button type="submit" class="btn btn-sm btn-primary">보내기</button>
    </form>
</div>

</body>
</html>