<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content" class="container my-3">
    <div class="row my-3">

        <div class="col-6">
            <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
        </div>

        <style>
            /* select 태그와 검색 입력 창의 너비 제한 */
            .input-group {
                max-width: 350px;
            }

            /* select 태그의 너비 조절 */
            #search_option {
            flex-grow: 1;
            }

            /* 검색 입력 창 너비 조절 */
            #search_kw {
                width: 140px;
            }

        </style>

        <div class="col-6 d-flex justify-content-end">
            <div class="input-group">
                <select class="form-select" id="search_option" name="searchOption">
                    <option value="all" selected>전체</option>
                    <option value="title">제목</option>
                    <option value="author">작성자</option>
                    <option value="comment">댓글</option>
                </select>
                <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
            </div>
        </div>

    </div>


    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="question, loop : ${paging}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td class="text-start">
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                <span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}"
                      th:text="${#lists.size(question.answerList)}">
					</span>
            </td>
            <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- 페이징처리 끝 -->
    <form th:action="@{/question/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>

<script layout:fragment="script" type='text/javascript'>
    document.addEventListener("DOMContentLoaded", function() {
        const pageElements = document.getElementsByClassName("page-link");
        Array.from(pageElements).forEach(function (element) {
            element.addEventListener('click', function () {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchOption').value = sessionStorage.getItem("searchOption"); // 검색 옵션 설정
                document.getElementById('searchForm').submit();
            });
        });

        const btnSearch = document.getElementById("btn_search");
        btnSearch.addEventListener('click', function () {
        const searchKwInput = document.getElementById('search_kw');
        const searchOptionSelect = document.getElementById('search_option');
        const kw = searchKwInput.value;
        sessionStorage.setItem("searchOption", searchOptionSelect.value); // 선택한 옵션 저장

        // AJAX를 사용하여 검색 결과를 받아옴
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/question/list?page=0&kw=' + kw + '&searchOption=' + searchOptionSelect.value, true);
        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 400) {
                // 성공적으로 결과를 받아왔을 때, 페이지의 일부를 업데이트
                const newContent = xhr.responseText;
                const newDoc = new DOMParser().parseFromString(newContent, 'text/html');
                const contentFragment = newDoc.querySelector('[layout\\:fragment="content"]');
                const oldContent = document.querySelector('[layout\\:fragment="content"]');
                oldContent.innerHTML = contentFragment.innerHTML;
                }
            };
            xhr.send();
        });
    });
</script>

</body>
</html>