<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content" class="container my-3">
    <div class="row my-3">

        <div class="col-6">
            <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
        </div>

        <style>
            /* select 태그와 검색 입력 창의 너비 제한 */
            #search_form {
                max-width: 350px;
            }

            /* select 태그의 너비 조절 */
            #search_option {
                flex-grow: 1;
                min-width: 105px;
            }

            /* 검색 입력 창 너비 조절 */
            #search_kw {
                width: 175px;
            }
        </style>

        <div class="col-6 d-flex justify-content-end">
            <form th:action="@{/question/list}" method="get" id="pagingForm">
                <div class="input-group" id="search_form">
                    <select class="form-select" id="search_option" name="searchoption">
                        <option value="all" selected>전체</option>
                        <option value="title">제목</option>
                        <option value="author">작성자</option>
                        <option value="comment">댓글</option>
                    </select>
                    <input type="text" id="search_kw" name="search_kw" class="form-control" th:value="${kw}">
                    <button class="btn btn-outline-secondary" type="submit">검색</button>
                </div>
            </form>
        </div>

        <script>
            // 페이지 로드될 때 URL 조작하여 검색 옵션과 키워드 설정
           document.addEventListener("DOMContentLoaded", function () {
            var urlParams = new URLSearchParams(window.location.search);
            var searchoption = urlParams.get('searchoption') || 'all'; // 기본값 'all'
            var searchKeyword = urlParams.get('search_kw') || ''; // 기본값 빈 문자열

            document.getElementById("search_option").value = searchoption;
            document.getElementById("search_kw").value = searchKeyword;
        });
        </script>

    </div>

    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th>카테고리</th>
            <th style="width:40%">제목</th>
            <th>작성자</th>
            <th>작성일시</th>
            <th>조회수</th>
        </tr>
        </thead>

        <tbody>
        <tr class="text-center" th:each="question, loop : ${paging}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td><span th:text="${question.category}"></span></td>
            <td class="text-start">
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                <span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}"
                      th:text="${#lists.size(question.answerList)}">
					</span>
            </td>
            <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td><span th:text="${question.view}"></span></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(paging.number - 2, paging.number + 2)}"
                th:if="${page >= 0 and page < paging.totalPages}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page + 1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

    <form th:action="@{/question/list}" method="get" id="pagingForm">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>

<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            const searchoption = document.getElementById("search_option").value;
            const searchKeyword = document.getElementById("search_kw").value;
            const page = this.dataset.page;

            let url = '/question/list?page=' + page;
            if (searchoption && searchKeyword) {
                url += '&searchoption=' + searchoption + '&search_kw=' + searchKeyword;
            }

            window.location.href = url;
        });
    });
</script>

</body>
</html>
