<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>

            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/question/vote/${question.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정">
                </a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제">
                </a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->

    <div class="d-flex align-items-center">
        <h5 class="flex-grow-1" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

        <form th:action="@{/question/detail}" method="get" id="sortForm">
            <div class="input-group" id="sort_form">
                <select class="form-select" id="sort_option" name="sortoption" onchange="updateSortOption()">
                    <option value="latest" selected>최신순</option>
                    <option value="earliest">과거순</option>
                    <option value="recommended">추천순</option>
                </select>
            </div>
        </form>
    </div>
    <div class="border-bottom py-1"></div>

    <style>
        .d-flex.align-items-center {
            align-items: center;
        }
    </style>

    <!-- 답변 반복 시작 -->
    <div>
        <tbody>
        <tr class="text-center" th:each="answer : ${paging.content}">
            <td>
                <div class="card my-3" th:id="|answer_${answer.id}|">
                    <a th:id="|answer_${answer.id}|"></a>
                    <div class="card-body">
                        <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
                        <div class="d-flex justify-content-end">
                            <div th:if="${answer.modifyDate != null}"
                                 class="badge bg-light text-dark p-2 text-start mx-3">
                                <div class="mb-2">modified at</div>
                                <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                            <div class="badge bg-light text-dark p-2 text-start">
                                <div class="mb-2">
                                    <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                                </div>
                                <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                                       th:data-uri="@{|/answer/vote/${answer.id}|}">
                                        추천
                                        <span class="badge rounded-pill bg-success"
                                              th:text="${#lists.size(answer.voter)}"></span>
                                    </a>
                                    <a th:href="@{|/answer/modify/${answer.id}|}"
                                       class="btn btn-sm btn-outline-secondary"
                                       sec:authorize="isAuthenticated()"
                                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                                       th:text="수정">
                                    </a>
                                    <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                                       th:text="삭제">
                                    </a>
                                </div>

                                <div class="d-flex align-items-center">
                                    <h8 class="me-auto" th:text="|댓글 ${#lists.size(answer.commentList)}|"
                                        th:if="${#lists.size(answer.commentList) > 0}">
                                    </h8>
                                    <h8 class="me-auto" th:text="|댓글|"
                                        th:if="${#lists.size(answer.commentList) == 0}">
                                    </h8>
                                    <div class="form-check form-switch ms-2">
                                        <input class="form-check-input" type="checkbox" th:id="|commentSwitch_${answer.id}|">
                                        <label class="form-check-label" th:for="|commentSwitch_${answer.id}|"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 댓글 기능 구현 -->
                <div th:id="|comment-section-${answer.id}|" class="comment-section" style="display: none; padding-left: 20px;">
                    <!-- 댓글 내용 -->
                    <div class="text-left" th:each="comment : ${answer.commentList}">
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="card-text" th:utext="${@commonUtil.markdown(comment.content)}"></div>
                                <div class="d-flex justify-content-end">
                                    <div class="badge bg-light text-dark p-2 text-start mx-3" th:if="${comment.modifyDate != null}">
                                        <div class="mb-2">modified at</div>
                                        <div th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                                    </div>
                                    <div class="badge bg-light text-dark p-2 text-start">
                                        <div class="mb-2">
                                            <span th:if="${comment.author != null}" th:text="${comment.author.username}"></span>
                                        </div>
                                        <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                                    </div>
                                </div>
                                <div class="my-3">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                                               th:data-uri="@{|/comment/vote/${comment.id}|}">
                                                추천
                                                <span class="badge rounded-pill bg-success" th:text="${#lists.size(comment.voter)}"></span>
                                            </a>
                                            <a th:href="@{|/comment/modify/${comment.id}|}"
                                               class="btn btn-sm btn-outline-secondary"
                                               sec:authorize="isAuthenticated()"
                                               th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                                               th:text="수정">
                                            </a>
                                            <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.id}|}"
                                               class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                                               th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                                               th:text="삭제">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 댓글 등록 창 -->
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{|/comment/create/${answer.id}|}" th:object="${commentForm}" method="post" class="my-3">
                            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                            <textarea th:field="*{content}" class="form-control" rows="5"></textarea>
                            <div class="d-flex justify-content-end">
                                <input type="submit" value="댓글등록" class="btn btn-primary my-2">
                            </div>
                        </form>
                    </div>
                    <div sec:authorize="isAnonymous()" class="text-center my-3">
                        <span>
                            <a th:href="@{/user/login}">로그인</a> 후에 댓글을 등록할 수 있습니다.
                        </span>
                    </div>
                </div>
                <!-- 댓글 구현 끝 -->
            </td>
        </tr>
        </tbody>
    </div>
    <!-- 답변 반복 끝  -->

    <!-- 답변 작성 -->
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
            <div class="d-flex justify-content-end">
                <input type="submit" value="답변등록" class="btn btn-primary my-2">
            </div>
        </form>
    </div>
    <div sec:authorize="isAnonymous()" class="text-center my-3">
        <span>
            <a th:href="@{/user/login}">로그인</a> 후에 답변을 등록할 수 있습니다.
        </span>
    </div>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="#" th:if="${paging.hasPrevious}"
                   th:href="@{/question/detail/{id}(id=${question.id}, sortoption=${sortOption}, answer_page=${paging.number-1})}">
                    이전
                </a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item"
                th:if="${page >= paging.number - 2 and page <= paging.number + 2}">
                <a class="page-link" href="#"
                   th:href="@{/question/detail/{id}(id=${question.id}, sortoption=${sortOption}, answer_page=${page})}"
                   th:text="${page + 1}" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="#" th:if="${paging.hasNext}"
                   th:href="@{/question/detail/{id}(id=${question.id}, sortoption=${sortOption}, answer_page=${paging.number+1})}">
                    다음
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

    <script type="text/javascript">
        // 현재 URL에서 sortOption 값을 가져오는 함수
        function getCurrentSortOption() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('sortoption') || 'latest';
        }

        // 페이지 로드 시 sortOption 값을 설정하는 함수
        window.onload = function () {
            const sortOption = getCurrentSortOption();
            document.getElementById('sort_option').value = sortOption;
        };

        // 페이지 로드 시 URL에서 sortoption 파라미터 값을 가져와서 select 태그의 값으로 설정하는 함수
        window.onload = function () {
            var urlParams = new URLSearchParams(window.location.search);
            var sortOption = urlParams.get('sortoption');
            if (sortOption !== null) {
                document.getElementById('sort_option').value = sortOption;
            }
        };

        // 정렬 옵션 선택 시 URL에 정렬 옵션 추가하는 함수
        function updateSortOption() {
            const sortOption = document.getElementById("sort_option").value;

            const questionId = [[${question.id}]];
            const currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('sortoption', sortOption); // 정렬 옵션 업데이트

            // 클릭된 버튼의 data-page 값을 가져오고, 값이 있는 경우에만 URL에 추가
            const activePageLink = document.querySelector('li.page-item.active a');
            if (activePageLink && activePageLink.dataset.page !== undefined && activePageLink.dataset.page !== "") {
                const answerPage = activePageLink.dataset.page;
                currentUrl.searchParams.set('answer_page', answerPage); // answer_page 값 설정
            }

            window.location.href = currentUrl.toString();
        }

        // 페이지 로드 시 댓글 스위치를 꺼져 있는 상태로 설정
        const switchElements = document.querySelectorAll('.form-check-input');
        switchElements.forEach(switchElement => {
            switchElement.addEventListener('change', function() {
                const answerId = this.id.split('_')[1];
                const commentSection = document.getElementById(`comment-section-${answerId}`);
                commentSection.style.display = this.checked ? 'block' : 'none';
            });
        });

        // 스위치 상태에 따라 댓글과 댓글 등록 창을 표시하거나 숨기는 함수
        function toggleComments(checkbox, commentsSectionId) {
            const commentsSection = document.getElementById(commentsSectionId);
            if (checkbox.checked) {
                commentsSection.style.display = "block";
            } else {
                commentsSection.style.display = "none";
            }
        }
    </script>
</div>

<!-- 페이지 내용 -->

<!-- 페이지 하단에 스크립트 추가 -->

<script layout:fragment="script" type='text/javascript'>
    // 삭제 및 추천 스크립트
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    // 페이징 스크립트
    const paging_links = document.getElementsByClassName("page-link");
    Array.from(paging_links).forEach(function(element) {
        element.addEventListener('click', function(event) {
            event.preventDefault(); // 링크 기본 동작 방지

            const questionId = ${question.id};
            const sortOption = getCurrentSortOption(); // 현재 정렬 옵션 가져오기
            const page = this.dataset.page;
            const url = `/question/detail/${questionId}?sortoption=${sortOption}&answer_page=${page}`;
            window.location.href = url;
        });
    });
</script>

</body>
</html>