<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="my-3 border-bottom">
        <div>
            <h4>비밀번호를 잊으셨나요?</h4>
        </div>
    </div>
    <form th:action="@{/user/forgotpassword}" method="post" name="email" class="post-form py-3">
        <input type="hidden" name="csrfmiddlewaretoken" value="23WsdOoZIOlJYJhuOfem7wpiwSkZHInEHnIGDoMhi4ueIxnESdwpVztdnXNr1Our">
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email">이메일 주소</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">임시번호발급</button>
            <a th:href="@{/user/login}" class="btn btn-primary">로그인으로 돌아가기</a>
        </div>
    </form>
</div>


</body>
</html>